.example-fill-remaining-space {
  flex: 1 1 auto;
}

.block-link:hover {
  text-decoration: none !important;
}

.block-link:hover span {
  color: #4183D7;
}

.active:hover span {
  color: rgba(0,0,0,.38);
}

.m-l-10 {
  margin-left:10px;
}

.app-title{
color: #fff;
}

.app-title:link {
    text-decoration: none;
}