.replace-input{
    margin-top: 10px;
}

.checkbox-margin{
    margin-top: 10px;
}

.tag-search{
    border-style: none solid solid solid;
    margin-top: -18px;
    border-color: #673ab7;
}

.tag-search-item{
    border-top: solid;
    border-color: #673ab7;
}

.tag-search-item:first-child { 
    background-color: white;
}

.tag-search-item:hover{
   cursor: pointer;
   background-color: #f2f2f2
}

.tags-webpage{
    margin-top: 30px;
    margin-left: 10px;
}

.tag-chip{
    margin-right: 5px;
}