<table class="vm-table bordered">
  <thead>
    <tr>
      <th>Name </th>
      <th>Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tags$ | async; trackBy:getItemName;let i = index">
      <td>{{item.name}} </td>
      <td>
        <button md-mini-fab color="primary" (click)="edit(item)"><md-icon class="md-18">create</md-icon></button>&nbsp;&nbsp;&nbsp;
        <button md-mini-fab color="warn" (click)="delete(item._id,i)"><md-icon class="md-18">delete</md-icon></button>
      </td>
    </tr>
  </tbody>
</table>




