@import 'variables.styl';


html, body {
    font-family: $primary-font;
    background-color: $background-color;
    min-height: 100%;
    height:100%;
    margin: 0px;
}

.page-wrapper {
    width:100%;
}

.page-content {
    width:96%;
    padding: 20px 2%;
}

.block{
    padding: 5px;
}

.input-container{
    width: 100%;
}

.button-primary{
    background-color: $main-color;
    color: #fff !important;
}

.block-link{
    text-decoration: none;
}

.row-content {
    margin: 10px;
}

.title-content {
    margin-left: 20px;
}

.md-18 { 
    width: 18px !important; 
    height: 18px !important; 
    font-size: 18px !important; 
}

.pd-10{
  padding-right: 15px;
  padding-left: 15px;
}

.width100{
    width:100%;
}


/* table Material */

    .vm-table {
        width: 100%;
        display: table;
        border-spacing: 0;
        font-size: 15px;
        color: rgba(0,0,0,0.87);
    }

    .vm-table, th, td {
        border: none;
    }

    .vm-table thead {
        border-bottom: 1px solid #d0d0d0;
    }

    .vm-table.bordered>thead>tr, .vm-table.bordered>tbody>tr {
        border-bottom: 1px solid #d0d0d0;
    }

    td, th {
        padding: 15px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
    }

/* form  */

label {
        color: rgba(0,0,0,0.87);
}