<div class="m-18">
    <div fxLayout="row">
        <md-input-container class="full-width">
            <textarea [(ngModel)]="comment" style="height:150px" mdInput placeholder="Comment"> </textarea>
        </md-input-container>
    </div>

    <div class="input-group-btn">
        <button md-raised-button color="primary" type="button" (click)="save()" class="btn btn-success">Save</button>
    </div>

    <br/><br/>

    <div fxLayout="row">
        <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlexOffset="10px">
            <ul *ngFor="let comment of webpage.comments; let i = index">
                <li><span class="user">{{comment.user.firstName}} {{comment.user.lastName}}</span>: {{comment.text}}</li>
            </ul>
        </div>

    </div>
</div>