.title-webpage {
  font-size: 15px !important;
  font-weight: 500;
}

.mat-card-image:first-child {
    margin-top: 0px;
}

.web-description {
  font-size: 13px;
  color: #757575;
}

.web-image {
    text-align: center;
}

.web-label {
    font-size: 13px;
    font-weight: lighter;
}

.replace-input{
    margin-top: 10px;
}

.card-image{
    max-height:300px;
    width: initial;
}
